# Object files
*.o

# Precompiled Headers
*.gch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (linux/mac)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel module compilation
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
